*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(160, 236, 160);
}
.section-1{
    width: 80%;
    height: 80%;
    background:#fff;
    overflow: hidden;
    border-radius: 10px;
}
.section-1-top{
    background: rgb(17, 65, 17);
    width: 100%;
    height: 10%;
    gap: 100px;
}
.section-1-top .elem,.section-1-top {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-1-top .elem{
    gap: 20px;
    color: white;
}

.section-1-top .elem h6{
    font-size: 24px;
     height:40px;
     width: 40px;
     text-align: center;
     border-radius: 5px;
     color: rgb(34, 84, 34);
     background: #fff;
}


.section-1-btm{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 90%;
    padding: 20px 30px;
    flex-wrap: wrap;
}
.section-1-btm .bubble{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 50%;
    background: rgb(43, 116, 43);
}
.section-1-btm .bubble:hover{
    background: rgb(21, 67, 21);
}


@media screen and (max-width: 350px) {
    .section-1{
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .section-1-top{
        gap: 20px;
    }
    .section-1-top .elem{
        gap: 10px;
    }
    .section-1-top .elem h6{
        font-size: 16px;
        height: 25px;
        width: 35px;
    }
    .section-1-top .elem h3{
        font-size: 14px;
    }
    .section-1-btm{
        padding: 4px;
    }
    .section-1-btm .bubble{
     /* height: 40px;
     height: 40px; */
     font-size: 17px;
    }
  }